<div class="modal-header item_description">
  <h3>Item {{item.shop_article_id}} Description</h3>
  <a href class="glyphicon glyphicon-remove" ng-click="ok()"></a>
</div>
<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>shop_article_id</dt><dd>{{item.shop_article_id}}</dd>
    <dt>shops_shop_id</dt><dd>{{item.shops_shop_id}}</dd>
    <dt>shop_category_id</dt><dd>{{item.shop_category_id}}</dd>
    <dt>ean</dt><dd>{{item.ean}}</dd>
    <dt>productname</dt><dd>{{item.productname}}</dd>
    <dt>label</dt><dd>{{item.label}}</dd>
    <dt>promotional_text</dt><dd>{{item.promotional_text}}</dd>
    <dt>description</dt><dd>{{item.description}}</dd>
    <dt>brand</dt><dd>{{item.brand}}</dd>
    <dt>manufacturer</dt><dd>{{item.manufacturer}}</dd>
    <dt>manufacturer_article_id</dt><dd>{{item.manufacturer_article_id}}</dd>
    <dt>deeplink</dt><dd><a target="_blank" ng-href="{{item.deeplink}}"><span class="glyphicon glyphicon-link"></span></a></dd>
    <dt>currency</dt><dd>{{item.currency}}</dd>
    <dt>saving</dt><dd>{{item.saving}}</dd>
    <dt>saving_abs</dt><dd>{{item.saving_abs}}</dd>
    <dt>amount</dt><dd>{{item.amount}}</dd>
    <dt>rating</dt><dd>{{item.rating}}</dd>
    <dt>price</dt><dd>{{item.price}}</dd>
    <dt>old_price</dt><dd>{{item.old_price}}</dd>
    <dt>price_from</dt><dd>{{item.price_from}}</dd>
    <dt>price_to</dt><dd>{{item.price_to}}</dd>
    <dt>price_prepayment</dt><dd>{{item.price_prepayment}}</dd>
    <dt>price_cash_on_delivery</dt><dd>{{item.price_cash_on_delivery}}</dd>
    <dt>price_credit_card</dt><dd>{{item.price_credit_card}}</dd>
    <dt>shipping</dt><dd>{{item.shipping}}</dd>
    <dt>delivery_time</dt><dd>{{item.delivery_time}}</dd>
    <dt>image_url</dt><dd><a target="_blank" ng-href="{{item.image_url}}"><span class="glyphicon glyphicon-link"></span></a></dd>
    <dt>label_soundex</dt><dd>{{item.label_soundex}}</dd>
    <dt>label_metaphone</dt><dd>{{item.label_metaphone}}</dd>
    <dt>status</dt><dd>{{item.status}}</dd>
    <dt>created</dt><dd>{{item.created}}</dd>
    <dt>updated</dt><dd>{{item.updated}}</dd>
  </dl>
</div>